@import "../../vars.css";

.container {
  width: 100%;
  color: var(--color-text);
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}
.social{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.social svg{
  width: 60px;
  height: 60px;
  fill: var(--color-svg);
  
  
}
.cardSocial{
  border: 1.5px solid var(--color-svg);
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 15px;
  transition: transform 0.3s ease-in-out;
}
.cardSocial:hover{
  transform: scale(1.1);
}
.copy{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: larger;
}

.buyMeACoffe{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buyMeACoffe svg{
  width: 60px;
  height: 60px;
  fill: var(--color-svg);
}

